<%- include('partials/head'); %>
<body class="h-screen bg-slate-800 flex flex-col">
<%- include('partials/nav'); %>

    <section class="flex flex-col items-center justify-start flex-1 text-white">
        
            <h1 class="text-3xl mt-10">Oops, something went wrong!</h1>
     
    </section>
<%- include('partials/footer'); %>