<%- include('partials/header'); %>
<body>
<%- include('partials/nav'); %>
    <section>
        <div class="background"></div>
        <h1>Welcome to the Public Home Page</h1>
        <h3>This is the Node JS Test website</h3>
    </section> 
</body>
</html>